.main {
    padding: 10%;
    display: flex;
    justify-content: center;
    width: auto;
}

.weather__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    width: 30%;
    height: 50%;
}
