.fog {
  background-color: #d4d5d7;
}

.thunder {
  background-color: #b4bac2;
}

.rain,
.wet {
  background-color: #99e6f6;
}

.snow,
.cloud {
  background-color: #aeaeda;
}

.sun {
  background-color: #ccccff;
}