.card {
    position: relative;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 400px;
    min-height: 400px;
    min-width: 300px;
    border-radius: 5%;
    overflow: hidden;
    background-color: #e8f8f2;
    color: #fff;
    box-shadow: 9px 7px 40px -6px rgba(0,0,0,0.25);

    transition: color 2s ease, background-color 2s ease, all linear 350ms;

    &:hover {
        transform: scale(1.1);
        transform-origin: left;
    }

    .details
    {
        padding: 16px 20px;
        margin-bottom: 40px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        transition: color 2s ease;

        .meta {
            text-align: right;
        }

        .field {
            margin: 4px 0;
        }

        .subtext {
            font-size: 13px;
        }

        .temp {
            font-size: 70px;
            line-height: 70px;
        }

        .unit {
            font-size: 18px;
            line-height: 30px;
            vertical-align: top;
            margin-left: 5px;
        }
    }

    .icon__container {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        position: absolute;
        bottom: 40px;
        right: 40px;
        font-size: 44px;

        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}
